* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/images/seamless-dumbbell-pattern-isolated-on-background-vector-23266695.jpg);
    font-family: "Funnel Display", 'Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
}

.pageContainer {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: 65%;
}

.headerBar {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    border-radius: 0 0 20px 20px;
    padding-bottom: 50px;
}

.logo {
    height: 200px;
    position: relative;
    margin: 2em;
    border-radius: 20px;
}

.headerBar a {
    text-decoration: none;
}
.btnLink {
    font-size: 2rem;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    background-color: black;
    color: white;
    border: 5px solid #999999;
    border-radius: 10px;
}

.btnLink:hover {
    cursor: pointer;
    background-color: #999999;
    color: black;
}

.btnLink[aria-current="page"] {
    background-color: #314048;
}

.btnLink[aria-current="page"]:hover {
    background-color: #999999;
    color: black;
}

span {
    color: #56666F;
}

.main {
    background-color: #111111;
    border-radius: 20px;
    grid-area: main;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trainers {
    display: flex;
    gap: 30px;
    margin: 1.5em 0;
}

.trainers img {
    width: 40%;
    border-radius: 20px;
}

.trainers p {
    max-width: 50%;
    line-height: 2;
    font-size: 1.5em;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111111;
    padding: 2em 0;
    border-radius: 20px; 
}

.footer img {
    height: 100px;
    border-radius: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:790px) {
    .headerBar img {
        height: 150px;
    }
    
    .headerBar {
        justify-content: space-evenly;
    }

    .btnLink {
        font-size: 1.5em;
        margin: 0 20px;
    }

    .pageContainer {
        max-width: 90%;
    }

    .trainers {
        flex-direction: column;
        align-items: center;
    }
    .trainers p {
        max-width: fit-content;
    }

    .footer {
        font-size: .75em;
    }

    
}

@media screen and (max-width:570px) {
    .headerBar img, .footer img {
        display: none;
    }

    .btnLink {
        font-size: .75em;
        margin-top: 20px;
    }

    .trainers {
        font-size: .5em;
    }

    .footer {
        font-size: .5em;
    }


}